---
import Layout from '../layouts/Layout.astro';
import AnnouncementBar from '../components/AnnouncementBar.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SectionTransition from '../components/SectionTransition.astro';
import Hero from '../components/Hero.astro';
import Countdown from '../components/Countdown.astro';
import WhySection from '../components/WhySection.astro';
import DetailsSection from '../components/DetailsSection.astro';
import ProofSection from '../components/ProofSection.astro';
import ReviewsSection from '../components/ReviewsSection.astro';
import PathsSection from '../components/PathsSection.astro';
import PlacementSection from '../components/PlacementSection.astro';
import LifeSection from '../components/LifeSection.astro';
import FAQSection from '../components/FAQSection.astro';
import FinalCta from '../components/FinalCta.astro';
import SiteFooter from '../components/SiteFooter.astro';
import MobileCta from '../components/MobileCta.astro';
---

<Layout>
  <AnnouncementBar />
  <SiteHeader />
  <main>
    <Hero />
    <Countdown />
    <SectionTransition />
    <WhySection />
    <SectionTransition />
    <DetailsSection />
    <SectionTransition />
    <ProofSection />
    <SectionTransition />
    <ReviewsSection />
    <SectionTransition />
    <PathsSection />
    <SectionTransition />
    <PlacementSection />
    <SectionTransition />
    <LifeSection />
    <SectionTransition />
    <FAQSection />
    <SectionTransition />
    <FinalCta />
  </main>
  <SiteFooter />
  <MobileCta />
</Layout>
